<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CCurrency.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

    <applicationSettings>
        <CCurrency.Properties.Settings>
            <setting name="SearchUrl" serializeAs="String">
                <value>https://api.coingecko.com/api/v3/search?query=</value>
            </setting>
            <setting name="SearchIDUrl" serializeAs="String">
                <value>https://api.coingecko.com/api/v3/coins/</value>
            </setting>
        </CCurrency.Properties.Settings>
    </applicationSettings>
</configuration>